<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cs.dit.mapper.LikeMapper">

	<insert id="like_up" parameterType="cs.dit.domain.BLikeVO" useGeneratedKeys="true" keyProperty="number">
    	INSERT INTO tbl_board_like (bno, nickname) VALUES (#{bno}, #{nickname})
	</insert>
	
	<delete id="like_down" parameterType="cs.dit.domain.BLikeVO" >
		delete from tbl_board_like where bno = #{bno} AND nickname = #{nickname}
	</delete>


	<select id="like_get" parameterType="cs.dit.domain.BLikeVO" resultType="int">
    	select COUNT(*) from tbl_board_like where bno = #{bno_long} AND nickname = #{nickname}
	</select>
	
	
</mapper>