@font-face {
    font-family: 'neon';
    src: url('../font/JalnanOTF.otf') format('opentype');
}
/* 전체 스타일 */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}
#login-success {
    display: flex;
    align-items: center;
}


header {
    background-color: #fff !important;
    border-bottom: 3px solid #424874 !important;
    color: #000 !important;
    padding: 8px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    z-index: 1 !important;
}

header img {
    width: 300px;
    margin-left: 20px;
    cursor: pointer;
}


nav {
    margin-left: 30px; !important;
    cursor: pointer; !important;
}

nav span {
    margin-right: 5px;
}

#login button {
    margin: 15px; !important;
}

.w-btn, 
.w-btn1 {
    
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;d-flex justify-content-center
    font-family: "EASTRAJET-Medium", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    transition: 0.25s;
}

.w-btn1{
    color: black;
    background-color: #DCD6F7;
}

.w-btn-indigo {
    
    background-color: rgba(255, 255, 255, .15);
    border: 1px solid #337ab7;

}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.center {
    margin: 0 auto;
    display: block;
}

.postcontainer {
    width: 100%;
}
 /* Footer 스타일 */
 footer {
    background-color: aqua;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
}

.page-title {
    font-family: 'neon';
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.page-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.page-title small {
    font-size: 14px;
    color: #888;
}


.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    
    transition: background-color 0.3s ease;
}

.post:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.post-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-content {
    color: #666;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-meta {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
}

.post div #left {
    display: flex;
    width: 85%;
}
.post div p {
    margin-left: 10px;
}
.post div #right {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post div #right img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.post div #right small {
    font-size: 12px;
    margin-right: 10px;
}

.btn-jittery {
    animation: jittery 4s infinite;
    height: 70px;
    width: 120px;
    background-color: aqua;
    border-radius: 23px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}

@-webkit-keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}


*로그인 회원가입버튼
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: red;
    color: #050801;
    box-shadow: 0 0 5px #9403f4,
                0 0 25px #9403f4,
                0 0 50px #9403f4,
                0 0 200px#9403f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,red);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,red);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,red);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,red);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

footer {
    background-color: aqua;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
}
.info{
    display: inline-block;
    margin-left : 30px;
    margin-right : 50px;   
}
.study {
    width: 100%; /* 화면 크기에 맞게 최대 너비 설정 */
    height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
    display: block;
    text-align: center;
    margin: 0 auto; /* 화면 가운데 정렬을 위해 추가 */
}
.study img{
    max-width: 95%; /* 이미지가 부모 요소를 벗어나지 않도록 설정 */
    height: auto; /* 이미지 높이를 자동으로 조절하여 비율 유지 */
    display: block;
    
    border: 2px solid #ccc; /* 테두리 추가 */
    border-radius: 10px; /* 테두리의 모서리를 둥글게 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.dit{
    padding-top : 30px;
    padding-bottom: 10px;
    width: 30%;
}
.dit img{
    max-width:100%;
}


    .dit2 {
        width: 100vw; /* 화면의 100% 너비로 설정 */
    }

   .dit2 img {
    width: 75%;
    height: auto;
    float: left;
}


    .dit2, .dit3, .dit4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dit4 img {
    width: 85%;
    height: auto;
    float: left;
    }