@font-face {
    font-family: 'neon';
    src: url('../font/JalnanOTF.otf') format('opentype');
}
/* 전체 스타일 */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

footer {
    background-color: black;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
}

/* Header 스타일 */
#login-success {
    display: flex;
    align-items: center;
}


header {
    background-color: #fff !important;
    border-bottom: 3px solid #424874 !important;
    color: #000 !important;
    padding: 8px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    z-index: 1000;
}

header img {
    width: 300px;
    margin-left: 20px;
    cursor: pointer;
}


nav {
    margin-left: 30px; !important;
    cursor: pointer; !important;
}

nav span {
    margin-right: 5px;
}

#login button {
    margin: 15px; !important;
}

.w-btn, 
.w-btn1 {
    
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "EASTRAJET-Medium", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    transition: 0.25s;
}

.w-btn1{
    color: black;
    background-color: #DCD6F7;
}

.w-btn-indigo {
    
    background-color: rgba(255, 255, 255, .15);
    border: 1px solid #337ab7;

}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.center {
    margin: 0 auto;
    display: block;
}

.postcontainer {
    width: 100%;
}
 /* Footer 스타일 */


.page-title {
    font-family: 'neon';
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.page-title h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.page-title small {
    font-size: 14px;
    color: #888;
}

/* DB 내용 가져오기 */
.container {
    display: flex;
    justify-content: center;
}

/* 게시판 리스트 스타일 */
.post-list {
    margin: 20px;
    max-width: 800px;
    width: 100%;
}

.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    
    transition: background-color 0.3s ease;
}

.post:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.post-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

#pull-right{
	width: 250px;
    margin: auto;
}

.post-content {
    color: #666;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-meta {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
}

.post div #left {
    display: flex;
    width: 85%;
    position: relative;
    top: 10px;
}
.post div p {
    margin-left: 10px;
}
.post div #right {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post div #right img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.post div #right small {
    font-size: 12px;
    margin-right: 10px;
}

.btn-jittery {
    -webkit-animation: jittery 4s infinite !important;
    animation: jittery 4s infinite !important;
    height: 60px !important;
    width: 120px !important;
    background-color: aqua !important;
    border-radius: 23px !important;
    font-size: 20px !important;
    color: black !important;
    border-color : white !important;
}

.btn-jittery {
    -webkit-animation: jittery 4s infinite !important;
    animation: jittery 4s infinite !important;
    height: 60px !important;
    width: 120px !important;
    background-color: aqua !important;
    border-radius: 23px !important;
    font-size: 20px !important;
    color: black !important;
    border-color : white !important;
}

@-webkit-keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

#write{
	text-align: center;
}

.login-success p {
	padding-left :30px; 
	padding-top : 10px;
	margin : 0px;
	font-family: 'neon', sans-serif;
	padding: 10px 30px;
    border-radius: 15px;
}
form{
	display:flex;
}

#search_form {
    width: 400px; /* 원하는 너비로 조절 */
    margin: 20px auto; /* 가운데 정렬을 위한 마진 설정 */
    display: flex;
    justify-content: space-between; /* 자식 요소 사이에 간격 주기 */
}

#search_form input[type="text"] {
    flex: 1; /* 남은 공간을 모두 채우도록 설정 */
    padding: 10px; /* 내부 여백 설정 */
    width:400px;
}

#search_form button {
   background-color: aqua;
}

.sideBanner {
            position: absolute;
            width: 340px;
            height: 380px;
            top: 100px;
            background-color: #999900;
            color: #fffffff;
            margin: 15px;
            margin-top:80px;
        }

        .sideBanner img {
            position: relative;
            width: 100%; /* 이미지를 부모 요소에 맞게 확대/축소 */
            height: 100%; /* 이미지를 부모 요소에 맞게 확대/축소 */
        }

        .sideBanner2 {
            position: absolute;
            top: 100px;
            right: 0;
            width: 340px;
            height: 380px;
            background-color: #999900;
            color: #fffffff;
            margin: 15px;
            margin-top:80px;
        }

        .sideBanner2 img {
            position: relative;
            width: 100%; /* 이미지를 부모 요소에 맞게 확대/축소 */
            height: 100%; /* 이미지를 부모 요소에 맞게 확대/축소 */
        }
